.chosenBackground {
    width: 100%;
    height: 100vh;
    background-color: blue;
    padding: 40px;
}
.Choosen {
    width: 50%;
    height: min-content;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.choosenProducts {
    height: min-content;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

}
.choosenImg {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
.nameAndPrice {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choosenPrice {
    width: 50%;
    border: 1px solid black;
    padding: 2px;
}

.removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  red;
    padding: 10px;
    border-radius: 7px;
    height: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  green;
    padding: 10px;
    border-radius: 7px;
    height: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}